body {
  background-color: cornsilk;
  font-family: monospace;
  font-size: larger;
}

.App {
  text-align: center;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-form {
  padding: 20px;
  border: 2px dotted darkgray;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  display: flex;

}

input,button {
  padding: 10px;
  margin: 10px;
  background-color:azure;
}

.results {
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.user {
  height: 100px;
  width: 400px;
  margin: 10px;
  padding: 10px;
   border: 2px solid blue; 
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
